Q1). Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

Ans)

Select * from Worker where year(JOINING_DATE) = 2014 and month(JOINING_DATE) = 2;

Q2) Write an SQL query to fetch duplicate records having matching data in some fields of a table.

Ans) 

SELECT username, email, COUNT(*) FROM users GROUP BY username, email HAVING COUNT(*) > 1

Q3). How to remove duplicate rows from Employees table.

Ans) DELETE FROM DETAILS WHERE SN NOT IN (
SELECT MAX(SN) FROM Employee GROUP BY EMPNAME,DEPT,CONTACTNO,CITY)